.popupBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    position: relative;
    border: 2px solid black;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popupClose {
    position: absolute;
    right: 5px;
    top: -10px;
    cursor: pointer;
}

.input {
    font-size: 3rem;
    padding-left: 20px;
}